[submodule "Unity-Package-Service-Locator"]
	path = Unity-Package-Service-Locator
	url = https://github.com/Helvest/Unity-Package-Service-Locator.git
[submodule "Unity-Package-Stype-Machine"]
	path = Unity-Package-Stype-Machine
	url = https://github.com/Helvest/Unity-Package-Stype-Machine.git
[submodule "Unity-Package-Rich-Text-Extension"]
	path = Unity-Package-Rich-Text-Extension
	url = https://github.com/Helvest/Unity-Package-Rich-Text-Extension.git
